[package]
name = "kitchensink-runtime"
version = "3.0.0-dev"
authors.workspace = true
description = "Substrate node kitchensink runtime."
edition.workspace = true
build = "build.rs"
license = "Apache-2.0"
homepage = "https://substrate.io"
repository.workspace = true
publish = false

[lints]
workspace = true

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]

# third-party dependencies
codec = { package = "parity-scale-codec", version = "3.6.1", default-features = false, features = [
	"derive",
	"max-encoded-len",
] }
scale-info = { version = "2.10.0", default-features = false, features = ["derive", "serde"] }
static_assertions = "1.1.0"
log = { version = "0.4.17", default-features = false }

# pallet-asset-conversion: turn on "num-traits" feature
primitive-types = { version = "0.12.0", default-features = false, features = ["codec", "num-traits", "scale-info"] }

# primitives
sp-authority-discovery = { path = "../../../primitives/authority-discovery", default-features = false, features = ["serde"] }
sp-consensus-babe = { path = "../../../primitives/consensus/babe", default-features = false, features = ["serde"] }
sp-consensus-grandpa = { path = "../../../primitives/consensus/grandpa", default-features = false, features = ["serde"] }
sp-block-builder = { path = "../../../primitives/block-builder", default-features = false }
sp-genesis-builder = { default-features = false, path = "../../../primitives/genesis-builder" }
sp-inherents = { path = "../../../primitives/inherents", default-features = false }
node-primitives = { path = "../primitives", default-features = false }
sp-mixnet = { path = "../../../primitives/mixnet", default-features = false }
sp-offchain = { path = "../../../primitives/offchain", default-features = false }
sp-core = { path = "../../../primitives/core", default-features = false, features = ["serde"] }
sp-std = { path = "../../../primitives/std", default-features = false }
sp-api = { path = "../../../primitives/api", default-features = false }
sp-runtime = { path = "../../../primitives/runtime", default-features = false, features = ["serde"] }
sp-staking = { path = "../../../primitives/staking", default-features = false, features = ["serde"] }
sp-storage = { path = "../../../primitives/storage", default-features = false }
sp-session = { path = "../../../primitives/session", default-features = false }
sp-transaction-pool = { path = "../../../primitives/transaction-pool", default-features = false }
sp-version = { path = "../../../primitives/version", default-features = false, features = ["serde"] }
sp-io = { path = "../../../primitives/io", default-features = false }

# frame dependencies
frame-executive = { path = "../../../frame/executive", default-features = false }
frame-benchmarking = { path = "../../../frame/benchmarking", default-features = false }
frame-benchmarking-pallet-pov = { path = "../../../frame/benchmarking/pov", default-features = false }
frame-support = { path = "../../../frame/support", default-features = false, features = ["tuples-96"] }
frame-system = { path = "../../../frame/system", default-features = false }
frame-system-benchmarking = { path = "../../../frame/system/benchmarking", default-features = false, optional = true }
frame-election-provider-support = { path = "../../../frame/election-provider-support", default-features = false }
frame-system-rpc-runtime-api = { path = "../../../frame/system/rpc/runtime-api", default-features = false }
frame-try-runtime = { path = "../../../frame/try-runtime", default-features = false, optional = true }
pallet-asset-conversion = { path = "../../../frame/asset-conversion", default-features = false }
pallet-assets = { path = "../../../frame/assets", default-features = false }
pallet-authorship = { path = "../../../frame/authorship", default-features = false }
pallet-babe = { path = "../../../frame/babe", default-features = false }
pallet-bags-list = { path = "../../../frame/bags-list", default-features = false }
pallet-balances = { path = "../../../frame/balances", default-features = false }
pallet-election-provider-support-benchmarking = { path = "../../../frame/election-provider-support/benchmarking", default-features = false, optional = true }
pallet-grandpa = { path = "../../../frame/grandpa", default-features = false }
pallet-im-online = { path = "../../../frame/im-online", default-features = false }
pallet-mixnet = { path = "../../../frame/mixnet", default-features = false }
pallet-offences = { path = "../../../frame/offences", default-features = false }
pallet-offences-benchmarking = { path = "../../../frame/offences/benchmarking", default-features = false, optional = true }
pallet-glutton = { path = "../../../frame/glutton", default-features = false }
pallet-preimage = { path = "../../../frame/preimage", default-features = false }
pallet-remark = { path = "../../../frame/remark", default-features = false }
pallet-root-testing = { path = "../../../frame/root-testing", default-features = false }
pallet-session = { path = "../../../frame/session", default-features = false, features = ["historical"] }
pallet-session-benchmarking = { path = "../../../frame/session/benchmarking", default-features = false, optional = true }
pallet-staking = { path = "../../../frame/staking", default-features = false }
pallet-staking-reward-curve = { path = "../../../frame/staking/reward-curve", default-features = false }
pallet-staking-runtime-api = { path = "../../../frame/staking/runtime-api", default-features = false }
pallet-state-trie-migration = { path = "../../../frame/state-trie-migration", default-features = false }
pallet-scheduler = { path = "../../../frame/scheduler", default-features = false }
pallet-sudo = { path = "../../../frame/sudo", default-features = false }
pallet-timestamp = { path = "../../../frame/timestamp", default-features = false }
pallet-utility = { path = "../../../frame/utility", default-features = false }
pallet-transaction-payment = { path = "../../../frame/transaction-payment", default-features = false }
pallet-transaction-payment-rpc-runtime-api = { path = "../../../frame/transaction-payment/rpc/runtime-api", default-features = false }
pallet-asset-conversion-tx-payment = { path = "../../../frame/transaction-payment/asset-conversion-tx-payment", default-features = false }
pallet-asset-tx-payment = { path = "../../../frame/transaction-payment/asset-tx-payment", default-features = false }
pallet-skip-feeless-payment = { path = "../../../frame/transaction-payment/skip-feeless-payment", default-features = false }
pallet-uniques = { path = "../../../frame/uniques", default-features = false }
pallet-tx-pause = { path = "../../../frame/tx-pause", default-features = false }
pallet-safe-mode = { path = "../../../frame/safe-mode", default-features = false }

[build-dependencies]
substrate-wasm-builder = { path = "../../../utils/wasm-builder", optional = true }

[features]
default = ["std"]
with-tracing = ["frame-executive/with-tracing"]
std = [
	"codec/std",
	"frame-benchmarking-pallet-pov/std",
	"frame-benchmarking/std",
	"frame-election-provider-support/std",
	"frame-executive/std",
	"frame-support/std",
	"frame-system-benchmarking?/std",
	"frame-system-rpc-runtime-api/std",
	"frame-system/std",
	"frame-try-runtime?/std",
	"log/std",
	"node-primitives/std",
	"pallet-asset-conversion-tx-payment/std",
	"pallet-asset-conversion/std",
	"pallet-asset-tx-payment/std",
	"pallet-assets/std",
	"pallet-authorship/std",
	"pallet-babe/std",
	"pallet-bags-list/std",
	"pallet-balances/std",
	"pallet-election-provider-support-benchmarking?/std",
	"pallet-glutton/std",
	"pallet-grandpa/std",
	"pallet-im-online/std",
	"pallet-mixnet/std",
	"pallet-offences-benchmarking?/std",
	"pallet-offences/std",
	"pallet-preimage/std",
	"pallet-remark/std",
	"pallet-root-testing/std",
	"pallet-safe-mode/std",
	"pallet-scheduler/std",
	"pallet-session-benchmarking?/std",
	"pallet-session/std",
	"pallet-skip-feeless-payment/std",
	"pallet-staking-runtime-api/std",
	"pallet-staking/std",
	"pallet-state-trie-migration/std",
	"pallet-sudo/std",
	"pallet-timestamp/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	"pallet-transaction-payment/std",
	"pallet-tx-pause/std",
	"pallet-uniques/std",
	"pallet-utility/std",
	"primitive-types/std",
	"scale-info/std",
	"sp-api/std",
	"sp-authority-discovery/std",
	"sp-block-builder/std",
	"sp-consensus-babe/std",
	"sp-consensus-grandpa/std",
	"sp-core/std",
	"sp-genesis-builder/std",
	"sp-inherents/std",
	"sp-io/std",
	"sp-mixnet/std",
	"sp-offchain/std",
	"sp-runtime/std",
	"sp-session/std",
	"sp-staking/std",
	"sp-std/std",
	"sp-storage/std",
	"sp-transaction-pool/std",
	"sp-version/std",
	"substrate-wasm-builder",
]
runtime-benchmarks = [
	"frame-benchmarking-pallet-pov/runtime-benchmarks",
	"frame-benchmarking/runtime-benchmarks",
	"frame-election-provider-support/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system-benchmarking/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-asset-conversion/runtime-benchmarks",
	"pallet-asset-tx-payment/runtime-benchmarks",
	"pallet-assets/runtime-benchmarks",
	"pallet-babe/runtime-benchmarks",
	"pallet-bags-list/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
	"pallet-election-provider-support-benchmarking/runtime-benchmarks",
	"pallet-glutton/runtime-benchmarks",
	"pallet-grandpa/runtime-benchmarks",
	"pallet-im-online/runtime-benchmarks",
	"pallet-mixnet/runtime-benchmarks",
	"pallet-offences-benchmarking/runtime-benchmarks",
	"pallet-offences/runtime-benchmarks",
	"pallet-preimage/runtime-benchmarks",
	"pallet-remark/runtime-benchmarks",
	"pallet-safe-mode/runtime-benchmarks",
	"pallet-scheduler/runtime-benchmarks",
	"pallet-session-benchmarking/runtime-benchmarks",
	"pallet-skip-feeless-payment/runtime-benchmarks",
	"pallet-staking/runtime-benchmarks",
	"pallet-state-trie-migration/runtime-benchmarks",
	"pallet-sudo/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	"pallet-tx-pause/runtime-benchmarks",
	"pallet-uniques/runtime-benchmarks",
	"pallet-utility/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"sp-staking/runtime-benchmarks",
]
try-runtime = [
	"frame-benchmarking-pallet-pov/try-runtime",
	"frame-election-provider-support/try-runtime",
	"frame-executive/try-runtime",
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"frame-try-runtime/try-runtime",
	"pallet-asset-conversion-tx-payment/try-runtime",
	"pallet-asset-conversion/try-runtime",
	"pallet-asset-tx-payment/try-runtime",
	"pallet-assets/try-runtime",
	"pallet-authorship/try-runtime",
	"pallet-babe/try-runtime",
	"pallet-bags-list/try-runtime",
	"pallet-balances/try-runtime",
	"pallet-glutton/try-runtime",
	"pallet-grandpa/try-runtime",
	"pallet-im-online/try-runtime",
	"pallet-mixnet/try-runtime",
	"pallet-offences/try-runtime",
	"pallet-preimage/try-runtime",
	"pallet-remark/try-runtime",
	"pallet-root-testing/try-runtime",
	"pallet-safe-mode/try-runtime",
	"pallet-scheduler/try-runtime",
	"pallet-session/try-runtime",
	"pallet-skip-feeless-payment/try-runtime",
	"pallet-staking/try-runtime",
	"pallet-state-trie-migration/try-runtime",
	"pallet-sudo/try-runtime",
	"pallet-timestamp/try-runtime",
	"pallet-transaction-payment/try-runtime",
	"pallet-tx-pause/try-runtime",
	"pallet-uniques/try-runtime",
	"pallet-utility/try-runtime",
	"sp-runtime/try-runtime",
]
experimental = [
	"frame-support/experimental",
	"frame-system/experimental",
]
